input {
  display: block;
}
label {
  display: block;
}

.centered {
  padding: 0;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 2.5rem);
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin: 0 auto;
}

.form-button {
  margin: 0 auto;
}

@media screen and (min-width: 578px) {
  .centered {
    width: 30rem;
  }

  form {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(1, 1fr) 0rem;
    grid-template-rows: repeat(1, auto);
    grid-gap: 0rem;
  }

  .form-button {
    grid-column-start: 1;
    margin: 0 auto;
  }
}
